<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>Login</h1>

<form th:method="POST" th:action="@{/login}" th:object="${user}">

    <table border="1">
        <tr>
            <td><label for="email">Email</label></td>
            <td><input type="text" th:field="*{email}" id="email"/></td>

        </tr>
        <tr>
            <td><label for="password">Password</label>
            <td><input type="text" th:field="*{password}" id="password"/></td>

        </tr>
    </table>

    <input type="submit" value="Login"/>
</form>
<button><a href="/users/new">Registration</a></button>
</body>
</html>